<h1>Welcome to the Homepage</h1>
{{#if logged_in}}
    <h5>Welcome!</h5>
{{else}}
    <h5>Login to join the conversation!</h5>
{{/if}}

{{#each allPosts}}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
        <p class="card-text">By: {{user.name}}</p>
        <p class="card-text">{{text}}</p>
        <p class="card-text">{{format_date createdAt}}</p>
        <p class="card-text">Responses: {{#each comments}} <ul>{{comment_text}}</ul>{{/each}}
    </div>
</div>
{{/each}}